{% extends "base.html" %}
{% block title %}Movie database - Agregar actor{% endblock %}
{% block body %}
<body>
  <div class="container mt-5">
    <form method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="release_date" class="form-label">Fecha de nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
      </div>
      <div class="mb-3">
        <label for="release_date" class="form-label">Lugar de nacimiento:</label>
        <input type="text" class="form-control" id="lugar_nacimiento" name="lugar lugar_nacimiento" required>
      </div>
      <div class="mb-3">
        <label for="poster_url" class="form-label">Imagen URL:</label>
        <input type="url" class="form-control" id="url_imagen" name="url_imagen" required>
      </div>
      <div class="mb-3">
        <img id="imagen_preview" src="" alt="Imagen Preview" style="max-width: 200px; display: none;">
      </div>
      <button type="submit" class="btn btn-primary">Agregar actor</button>
    </form>
  </div>
  <script>
    const url_imagen = document.getElementById('url_imagen');
    const imagen_preview = document.getElementById('imagen_preview');

    url_imagen.addEventListener('input', function() {
      const url = url_imagen.value;
      if (url) {
        imagen_preview.src = url;
        imagen_preview.style.display = 'block';
      } else {
        imagen_preview.src = '';
        imagen_preview.style.display = 'none';
      }
    });


    


    const posterUrlInput = document.getElementById('url_poster');
    const posterPreview = document.getElementById('poster_preview');

    posterUrlInput.addEventListener('input', function() {
      const url = posterUrlInput.value;
      if (url) {
        posterPreview.src = url;
        posterPreview.style.display = 'block';
      } else {
        posterPreview.src = '';
        posterPreview.style.display = 'none';
      }
    });
  </script>
</body>
{% endblock %}